<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/KokeilujaKierrokset7ja8/o1/funktioita/Harjoitus3.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="o1.funktioita.Harjoitus3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="KokeilujaKierrokset7ja8"/>
</launchConfiguration>
